# Mac custom folder attributes.
.DS_Store

# Ignores Intellij IDEA folder.
.IDEA/
/vip.iml

# Apptainer images build folder.
/images
/utils/apptainer/sif

# Installed resource folders.
/resources
!/resources/decision_tree_*.json
!/resources/vep/plugins

# test
/test/.nextflow
/test/output*
/test/nextflow.config
/test/resources/downloads
/test/test_wrapper.sh

# nextflow
nextflow
nextflow-*-all

# vip
/vip

# mkdocs
/site