# Mac custom folder attributes.
.DS_Store

# Ignores Intellij IDEA folder.
.IDEA/
/vip.iml

# Singularity images build folder.
/images
/utils/singularity/sif

# Installed resource folders.
/resources
!/resources/decision_tree.json
!/resources/plugins

# test
/test/.nextflow
/test/output
/test/nextflow.config
/test/test_wrapper.sh

# Vagrant folder.
/.vagrant/
