# Mac custom folder attributes.
.DS_Store

# Ignores Intellij IDEA folder.
.IDEA/
/vip.iml

# Singularity images build folder.
/images
/utils/singularity/sif

# Installed resource folders.
/resources
!/resources/decision_tree_GRCh37.json
!/resources/decision_tree_GRCh38.json
!/resources/vep/plugins

# test
/test/.nextflow
/test/output
/test/nextflow.config
/test/test_wrapper.sh

# nextflow
nextflow
nextflow-*-all
