os: linux
dist: jammy
language: python
python:
  - "3.10"
branches:
  only:
    - main
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/
install:
  - pip install mkdocs==1.5.2 mkdocs-mermaid2-plugin==1.0.8
script:
  - mkdocs build
before_deploy:
# workaround for: https://travis-ci.community/t/deployments-are-failing-due-to-uri-dependency/14375
  - yes | gem update --system --force
  - gem install faraday-net_http -v '3.3.0' # workaround for the workaround - https://travis-ci.community/t/cannot-load-such-file-faraday-net-http-loaderror/14455/3
  - gem install bundler
  - gem install uri
  - gem install logger
deploy:
  provider: pages
  strategy: git
  skip_cleanup: true
  local_dir: /home/travis/build/molgenis/vip/site
  keep_history: true
  token:
    secure: "n9806rE/8HSKKzAXgC8fy7eVxtPT/TNnt/T8QIQumiseY5iU89OTkXm69fB+/C3h7l1feJABTyQQoXyH0nl57dbzlXrK/ZvK8U7abL0Pib9mP8tC1gKLDPqdsZgHABfCLUD1awemuKU8Q6TBYJfL0atQPcuK2NaAICUvRrtav/qdp3v7sGwL//7JRpHFaR+4KTCcjs1Si+S+fQuJ3J2KcKyoVD+4mctqeNYDiImUHQKEp09sb8S9a+VMFzQG7DTFjQA7N5ZVw6MLw2EhkKe8/oBiczPPRrTfxr4nGq0QXFT2zwkko7dyOXU+2RKxhfnm8YJKdTsRkUrfV7hbR/auWGVjW/B87tjYfryd+i9iCFjxf6jj7iOvQ7nIE7Y8boHf9ekTvBmTYUOJABJFvt2JJcgFonMHEiDs1b0JvLoz/I/0KtB0dH8c5vyCh3ULl/9V7tnOvrnSQdJwZAljGUgz2GmkckH3/qVRJIdDKG2keBnuVF2IxrU1kahu8krrkzwK9gSHFIxIgPczI8CRobnulUEqkwrhDd8DbcnSz/JrOLn4t/3eRGuy8xbBLVKgCZDAqZwhq5M7VyhMhE7KJnvoBedFZQHHtgSZKSsiBYomrk2CHonSlUHLOFBBmfV3OcT9gHrI060iL8buAtpShfZDM+AUmV1AKGlwqulAYIyYUkI="
  on:
    branch: main
