params {
  singularity_image_dir = "${projectDir}/images"

  assembly = "GRCh37"
  phenotypes = ""
  probands = ""
  pedigree = ""

  chunk_size = 10000
  keep = false
  start = 0

  annotate_annotsv_cache_dir= ""
  annotate_vep_plugin_dir = "${projectDir}/resources/plugins"
  annotate_vep_plugin_artefact = ""
  annotate_vep_plugin_hpo = "${projectDir}/resources/hpo_20210920.tsv"
  annotate_vep_plugin_inheritance = "${projectDir}/resources/inheritance_20210920.tsv"
  annotate_vep_plugin_spliceai_snv = ""
  annotate_vep_plugin_spliceai_indel = ""
  annotate_vep_plugin_vkgl = ""
  annotate_vep_plugin_vkgl_mode = -1
  annotate_vep_custom_gnomad = ""

  classify_decision_tree = "${projectDir}/resources/decision_tree.json"
  classify_annotate_labels = 0
  classify_annotate_path = 0

  filter_classes="T"

  report_max_records = ""
  report_max_samples = ""
  report_genes = "${projectDir}/resources/${assembly}/ucsc_genes_ncbi_refseq_20210519.txt.gz"
  report_template = ""
  report_bams = ""

  GRCh37 {
    reference = "${projectDir}/resources/GRCh37/human_g1k_v37.fasta.gz"
  }

  GRCh38 {
    reference = ""
  }
}

env {
  VIP_VERSION = "4.0.0-beta"
  SINGULARITY_BIND="${SINGULARITY_BIND}"
  singularity_annotsv = "singularity exec ${params.singularity_image_dir}/annotsv-3.0.9.sif"
  singularity_bcftools = "singularity exec ${params.singularity_image_dir}/bcftools-1.13.sif"
  singularity_gatk = "singularity exec ${params.singularity_image_dir}/gatk-4.2.2.0.sif"
  singularity_vep = "singularity exec ${params.singularity_image_dir}/vep-104.3.sif"
  singularity_vcfdecisiontree = "singularity exec ${params.singularity_image_dir}/vcf-decision-tree-1.0.0.sif"
  singularity_vcfinheritancematcher = "singularity exec ${params.singularity_image_dir}/vcf-inheritance-matcher-1.0.0-alpha.sif"
  singularity_vcfreport = "singularity exec ${params.singularity_image_dir}/vcf-report-2.4.4.sif"
}

profiles {
  standard {
    process.executor = 'local'
    process.cpus = 4
  }

  cluster {
    process {
      executor = 'slurm'

      cpus = 2
      memory = '100 MB'
      time = '5m'

      withName:'annotate' {
        cpus = 4
        memory = '2GB'
        time = '1h'
      }

      withName:'classify|inheritance|report' {
        memory = '2GB'
      }
    }
  }
}
