// flatten params instead of nested params
// workaround for https://github.com/nextflow-io/nextflow/issues/2166
params {
  assembly = ""
  phenotypes = ""
  probands = ""
  pedigree = ""

  annotate_annotsv_cache_dir= "${projectDir}/resources/annotsv/v3.0.9"
  annotate_vep_buffer_size = 500
  annotate_vep_cache_dir = "${projectDir}/resources/vep/cache"
  annotate_vep_plugin_dir = "${projectDir}/resources/vep/plugins"
  annotate_vep_plugin_hpo = "${projectDir}/resources/hpo_20220712.tsv"
  annotate_vep_plugin_inheritance = "${projectDir}/resources/inheritance_20220712.tsv"
  annotate_vep_plugin_vkgl_mode = 1

  classify_decision_tree = "${projectDir}/resources/decision_tree_GRCh37.json"
  classify_annotate_labels = 0
  classify_annotate_path = 0
  classify_samples_annotate_labels = 0
  classify_samples_annotate_path = 0
  classify_samples_decision_tree = "${projectDir}/resources/decision_tree_samples.json"

  filter_classes = "VUS,LP,P"
  filter_consequences = true
  filter_samples_classes = "K"
  filter_samples = 0

  report_max_records = ""
  report_max_samples = ""
  report_template = ""
  report_bams = ""

  GRCh37_reference = "${projectDir}/resources/GRCh37/human_g1k_v37.fasta.gz"
  GRCh37_annotate_vep_custom_gnomad = "${projectDir}/resources/GRCh37/gnomad.total.r2.1.1.sites.stripped.vcf.gz"
  GRCh37_annotate_vep_custom_clinvar = "${projectDir}/resources/GRCh37/clinvar_20220620.vcf.gz"
  GRCh37_annotate_vep_custom_phylop = "${projectDir}/resources/GRCh37/hg19.100way.phyloP100way.bw"
  GRCh37_annotate_vep_plugin_artefact = ""
  GRCh37_annotate_vep_plugin_spliceai_indel = "${projectDir}/resources/GRCh37/spliceai_scores.masked.indel.hg19.vcf.gz"
  GRCh37_annotate_vep_plugin_spliceai_snv = "${projectDir}/resources/GRCh37/spliceai_scores.masked.snv.hg19.vcf.gz"
  GRCh37_annotate_vep_plugin_utrannotator = "${projectDir}/resources/uORF_5UTR_GRCh37_PUBLIC.txt"
  GRCh37_annotate_vep_plugin_vkgl = "${projectDir}/resources/GRCh37/vkgl_consensus_20211201.tsv"
  GRCh37_annotate_capice_model = "${projectDir}/resources/GRCh37/capice_model_v4.0.0-v2.pickle.dat"
  GRCh37_report_genes = "${projectDir}/resources/GRCh37/GCF_000001405.25_GRCh37.p13_genomic_g1k.gff.gz"

  GRCh38_reference = "${projectDir}/resources/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz"
  GRCh38_annotate_vep_custom_gnomad = "${projectDir}/resources/GRCh38/gnomad.genomes.v3.1.2.sites.stripped.vcf.gz"
  GRCh38_annotate_vep_custom_clinvar = "${projectDir}/resources/GRCh38/clinvar_20220620.vcf.gz"
  GRCh38_annotate_vep_custom_phylop = "${projectDir}/resources/GRCh38/hg38.phyloP100way.bw"
  GRCh38_annotate_vep_plugin_artefact = ""
  GRCh38_annotate_vep_plugin_spliceai_indel = "${projectDir}/resources/GRCh38/spliceai_scores.masked.indel.hg38.vcf.gz"
  GRCh38_annotate_vep_plugin_spliceai_snv = "${projectDir}/resources/GRCh38/spliceai_scores.masked.snv.hg38.vcf.gz"
  GRCh38_annotate_vep_plugin_utrannotator = "${projectDir}/resources/uORF_5UTR_GRCh38_PUBLIC.txt"
  GRCh38_annotate_vep_plugin_vkgl = "${projectDir}/resources/GRCh38/vkgl_consensus_20211201.tsv"
  GRCh38_annotate_capice_model = "${projectDir}/resources/GRCh38/capice_model_v4.0.0-v2.pickle.dat"
  GRCh38_report_genes = "${projectDir}/resources/GRCh38/GCF_000001405.39_GRCh38.p13_genomic_mapped.gff.gz"

  singularity_image_dir = "${projectDir}/images"
  chunk_size = 10000
  keep = false
  start = 0
}

env {
  VIP_VERSION = "4.11.0"
  TMPDIR="\${TMPDIR:-\${NXF_TEMP:-\$(mktemp -d)}}"
  SINGULARITY_BIND="${SINGULARITY_BIND}"
  singularity_annotsv = "singularity exec --bind \${TMPDIR} ${params.singularity_image_dir}/annotsv-3.0.9.sif"
  singularity_bcftools = "singularity exec --bind \${TMPDIR} ${params.singularity_image_dir}/bcftools-1.14.sif"
  singularity_capice = "singularity exec --bind \${TMPDIR} ${params.singularity_image_dir}/capice-4.0.0.sif"
  singularity_gatk = "singularity exec --bind \${TMPDIR} ${params.singularity_image_dir}/gatk-4.2.5.0.sif"
  singularity_samtools = "singularity exec --bind \${TMPDIR} ${params.singularity_image_dir}/samtools-1.16.sif"
  singularity_vep = "singularity exec --bind \${TMPDIR} ${params.singularity_image_dir}/vep-107.0.sif"
  singularity_vcfdecisiontree = "singularity exec --bind \${TMPDIR} ${params.singularity_image_dir}/vcf-decision-tree-3.4.2.sif"
  singularity_vcfinheritancematcher = "singularity exec --bind \${TMPDIR} ${params.singularity_image_dir}/vcf-inheritance-matcher-2.1.2.sif"
  singularity_vcfreport = "singularity exec --bind \${TMPDIR} ${params.singularity_image_dir}/vcf-report-5.1.0.sif"
}

profiles {
  standard {
    process.executor = 'local'
    process.cpus = 2
  }

  cluster {
    process {
      executor = 'slurm'

      cpus = 2
      memory = '100 MB'
      time = '15m'

      withName:'annotate' {
        cpus = 4
        memory = '2GB'
        time = '1h'
      }

      withName:'classify|classify_samples|inheritance' {
        memory = '2GB'
      }

      withName:'report' {
        memory = '4GB'
      }
    }
  }
}
