env {
  TMPDIR = "\${TMPDIR:-\${NXF_TEMP:-\$(mktemp -d)}}"
  SINGULARITY_BIND = "${SINGULARITY_BIND}"
  SINGULARITY_DISABLE_CACHE = "True"
  SINGULARITY_TMPDIR = "\${TMPDIR}"
  CMD_MINIMAP2 = "singularity exec --bind \${TMPDIR} ${SINGULARITY_CACHEDIR}/minimap2-2.24.sif minimap2"
  CMD_SAMTOOLS= "singularity exec --bind \${TMPDIR} ${SINGULARITY_CACHEDIR}/samtools-1.16.sif samtools"
  CMD_DEEPVARIANT="singularity exec --bind \${TMPDIR} ${SINGULARITY_CACHEDIR}/deepvariant-1.4.0.sif /opt/deepvariant/bin/run_deepvariant"
  CMD_DEEPTRIO="singularity exec --bind \${TMPDIR} ${SINGULARITY_CACHEDIR}/deepvariant_deeptrio-1.4.0.sif /opt/deepvariant/bin/deeptrio/run_deeptrio"
  CMD_BCFTOOLS="singularity exec --bind \${TMPDIR} ${SINGULARITY_CACHEDIR}/bcftools-1.14.sif bcftools"
  CMD_GLNEXUS="singularity exec --bind \${TMPDIR} ${SINGULARITY_CACHEDIR}/glnexus_v1.4.1.sif glnexus_cli"
  CMD_VCFREPORT="singularity exec --bind \${TMPDIR} ${SINGULARITY_CACHEDIR}/vcf-report-5.0.0.sif"
}

profiles {
  standard {
    process.executor = 'local'
    process.cpus = 2
  }

  cluster {
    process {
      executor = 'slurm'

      cpus = 4
      memory = '4GB'
      time = '12h'
    }
  }
}
