env {
  TMPDIR = "\${TMPDIR:-\${NXF_TEMP:-\$(mktemp -d)}}"
  APPTAINER_BIND = "${APPTAINER_BIND}"
  APPTAINER_DISABLE_CACHE = "True"
  APPTAINER_TMPDIR = "\${TMPDIR}"
  CMD_MINIMAP2 = "apptainer exec --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/minimap2-2.24.sif minimap2"
  CMD_SAMTOOLS= "apptainer exec --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/samtools-1.16.sif samtools"
  CMD_DEEPVARIANT="apptainer exec --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/deepvariant-1.4.0.sif /opt/deepvariant/bin/run_deepvariant"
  CMD_DEEPTRIO="apptainer exec --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/deepvariant_deeptrio-1.4.0.sif /opt/deepvariant/bin/deeptrio/run_deeptrio"
  CMD_BCFTOOLS="apptainer exec --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/bcftools-1.14.sif bcftools"
  CMD_GLNEXUS="apptainer exec --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/glnexus_v1.4.1.sif glnexus_cli"
  CMD_VCFREPORT="apptainer exec --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/vcf-report-5.1.0.sif"
}

profiles {
  standard {
    process.executor = 'local'
    process.cpus = 2
  }

  cluster {
    process {
      executor = 'slurm'

      cpus = 4
      memory = '4GB'
      time = '12h'
    }
  }
}
