# default pipeline properties
assembly=GRCh37
cpu_cores=4
preprocess_filter_low_qual=1
preprocess_filter_read_depth=20
annotate_phenotype_matching=hpo
annotate_vibe_hdt=/apps/data/VIBE/vibe-5.1.0-hdt/vibe-5.1.0.hdt
annotate_vibe_hpo=/apps/data/VIBE/hp_2020-12-07.owl
annotate_vep_dir_cache=/apps/data/Ensembl/VEP/104
annotate_vep_coding_only=0
annotate_vep_no_intergenic=1
annotate_vep_plugin_VKGL=/apps/data/VKGL/GRCh37/vkgl_public_consensus_jun2021.tsv
annotate_vep_plugin_VKGL_mode=1
filter_annotate_labels=0
filter_annotate_paths=0
