env {
  VIP_VERSION = "6.0.0"

  TMPDIR = "\${TMPDIR:-\${NXF_TEMP:-\$(mktemp -d)}}"
  APPTAINER_BIND = "${APPTAINER_BIND}"
  APPTAINER_DISABLE_CACHE = "True"
  APPTAINER_TMPDIR = "\${TMPDIR}"

  // tools used by multiple workflows
  CMD_BCFTOOLS = "apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/bcftools-1.17.sif bcftools"
  CMD_BGZIP = "apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/vep-109.3.sif bgzip"
  CMD_GLNEXUS="apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/glnexus_v1.4.5-patched.sif glnexus_cli"
  CMD_SAMTOOLS= "apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/samtools-1.17-patch1.sif samtools"
}

process {
  cpus = 4
  memory = '4GB'
  time = '4h'
}

profiles {
  local {
    process.executor = 'local'
  }

  slurm {
    process.executor = 'slurm'
    errorStrategy = { task.exitStatus in [9, 143, 137, 104, 134, 139, 247] ? 'retry' : 'finish' }
    maxErrors = '-1'
    maxRetries = 3
  }
}

params {
  GRCh37 {
    reference {
      fasta = "${projectDir}/resources/GRCh37/human_g1k_v37.fasta.gz"
      fastaFai = "${projectDir}/resources/GRCh37/human_g1k_v37.fasta.gz.fai"
      fastaGzi = "${projectDir}/resources/GRCh37/human_g1k_v37.fasta.gz.gzi"
    }
  }

  GRCh38 {
    reference {
      fasta = "${projectDir}/resources/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz"
      fastaFai = "${projectDir}/resources/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz.fai"
      fastaGzi = "${projectDir}/resources/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz.gzi"
    }
  }
}
