env {
  VIP_VERSION = "5.8.2"

  TMPDIR = "\${TMPDIR:-\${NXF_TEMP:-\$(mktemp -d)}}"
  APPTAINER_BIND = "${APPTAINER_BIND}"
  APPTAINER_DISABLE_CACHE = "True"
  APPTAINER_TMPDIR = "\${TMPDIR}"
}

process {
  cpus = 4
  memory = '4GB'
  time = '4h'
}

profiles {
  local {
    process.executor = 'local'
  }

  slurm {
    process.executor = 'slurm'
  }
}

params {  
  GRCh37 {
    reference {
      fasta = "${projectDir}/resources/GRCh37/human_g1k_v37.fasta.gz"
      fastaFai = "${projectDir}/resources/GRCh37/human_g1k_v37.fasta.gz.fai"
      fastaGzi = "${projectDir}/resources/GRCh37/human_g1k_v37.fasta.gz.gzi"
    }
  }

  GRCh38 {
    reference {
      fasta = "${projectDir}/resources/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz"
      fastaFai = "${projectDir}/resources/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz.fai"
      fastaGzi = "${projectDir}/resources/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz.gzi"
    }
  }
}
