env {
  VIP_VERSION = "${VIP_VERSION}"

  TMPDIR = "\${TMPDIR:-\${NXF_TEMP:-\$(mktemp -d)}}"
  APPTAINER_BIND = "${APPTAINER_BIND}"
  APPTAINER_DISABLE_CACHE = "True"
  APPTAINER_TMPDIR = "\${TMPDIR}"

  // tools used by multiple workflows
  CMD_BCFTOOLS = "apptainer exec --no-mount home ${APPTAINER_CACHEDIR}/bcftools-1.20.sif bcftools"
  CMD_BGZIP = "apptainer exec --no-mount home ${APPTAINER_CACHEDIR}/vep-111.0.sif bgzip"
  CMD_GLNEXUS="apptainer exec --no-mount home ${APPTAINER_CACHEDIR}/glnexus_v1.4.5-patched.sif glnexus_cli"
  CMD_PICARD = "apptainer exec --no-mount home ${APPTAINER_CACHEDIR}/picard-3.1.1_v2.sif"
  CMD_SAMTOOLS= "apptainer exec --no-mount home ${APPTAINER_CACHEDIR}/samtools-1.17-patch1.sif samtools"
}

process {
  memory = '4GB'
  time = '4h'
}

profiles {
  local {
    process.cpus = 4
    process.executor = 'local'
  }

  slurm {
    // many tasks process single or small groups of chromosomes e.g. resulting in 16 chunks for GRCh38
    // optimize the number of cpus so that all chunks can be processed in parallel
    process.cpus = 6
    process.executor = 'slurm'
    process.errorStrategy = { task.exitStatus in [9, 143, 137, 104, 134, 139, 247] ? 'retry' : 'finish' }
    process.maxErrors = '-1'
    process.maxRetries = 3
  }
}

params {
  // output assembly
  assembly = "GRCh38"
  // created using HpoMapperApp.java in https://github.com/molgenis/vip-utils
  hpo_phenotypic_abnormality="${VIP_DIR_DATA}/resources/hpo_20240813_phenotypic_abnormality.tsv"

  GRCh37 {
    reference {
      fasta = "NO_DEFAULT_INSTALL"
      fastaFai = "NO_DEFAULT_INSTALL"
      fastaGzi = "NO_DEFAULT_INSTALL"
      haploidContigs = "NO_DEFAULT"
      parRegionsBed = "NO_DEFAULT_INSTALL"
    }
    chain {
      GRCh38 = "${VIP_DIR}/resources/b37ToHg38.over.chain"
    }
  }

  GRCh38 {
    reference {
      fasta = "${VIP_DIR_DATA}/resources/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz"
      fastaFai = "${VIP_DIR_DATA}/resources/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz.fai"
      fastaGzi = "${VIP_DIR_DATA}/resources/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz.gzi"
      haploidContigs = "chrX,chrY"
      parRegionsBed = "${VIP_DIR_DATA}/resources/GRCh38/GRCh38_PAR_20251126.bed"
    }
  }

  T2T {
    reference {
      fasta = ""
      fastaFai = ""
      fastaGzi = ""
    }
    chain {
      GRCh38 = "${VIP_DIR}/resources/chm13v2-hg38.over.chain.gz"
    }
  }
}
