includeConfig 'nxf.config'

env {
  CMD_MOSDEPTH="apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/mosdepth-0.3.8.sif mosdepth"
  CMD_SPECTRE="apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/spectre-0.2.1-patched_v2.sif spectre"
}

params {
  cnv {
    spectre {
      GRCh38 {
        metadata = "${projectDir}/resources/GRCh38/spectre_GCA_000001405.15_GRCh38_no_alt_analysis_set.mdr"
        blacklist = "${projectDir}/resources/GRCh38/spectre_grch38_blacklist.bed"
      }
    }
  }
}

process {
  withLabel: 'spectre_call' {
    memory = '4GB'
  }
}
