includeConfig 'nxf_cram.config'

env {
  CMD_MINIMAP2 = "apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/minimap2-2.27.sif minimap2"
  CMD_FASTP = "apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/fastp-0.23.4.sif /opt/fastp"
  CMD_SEQTK = "apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/seqtk-1.4.sif seqtk"
}

process {
	withLabel: 'filter_reads' {
		cpus = 1
  }

  withLabel: 'minimap2_align|minimap2_align_paired_end' {
    cpus = 8
    memory = '32GB'
    time = '23h'
  }

  withLabel: 'merge_cram' {
		cpus = 8
		memory = '16GB'
		time = '23h'
	}
}

params {
  minimap2 {
    soft_clipping = true;
    nanopore_preset = "lr:hq";
  }

  fastp {
    disable_quality_filtering = false;
    disable_length_filtering = false; //default minimum is 15 bp, can be set via "--length_required"
    additional_params = "";
  }

  GRCh38 {
    reference {
      fastaMmi = "${projectDir}/resources/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz.mmi"
    }
  }
}
