includeConfig 'nxf_vcf.config'
includeConfig 'nxf_call_cnv.config'
includeConfig 'nxf_call_snv.config'
includeConfig 'nxf_call_str.config'
includeConfig 'nxf_call_sv.config'
includeConfig 'nxf_rna.config'

env {
  CMD_WHATSHAP="apptainer exec --no-mount home ${APPTAINER_CACHEDIR}/whatshap-2.4.sif whatshap phase"
}

params {
  cram {
    call_snv = true
    call_str = true
    call_sv = true
    call_cnv = true

    coverage {
      GRCh38 {
        default_bed_exon = "${VIP_DIR_DATA}/resources/GRCh38/default_exon_20250303.bed"
        default_bed_gene = "${VIP_DIR_DATA}/resources/GRCh38/default_gene_20250303.bed"
      }
    }
  }
}

process {
  withLabel: 'coverage' {
		cpus = 1
		// see https://github.com/brentp/mosdepth/issues/245
    memory = '16GB'
  }
  withLabel: 'publish_vcf' {
    memory = '100MB'
    time = '30m'
  }
}