includeConfig 'nxf.config'

env {
	CMD_GATK = "apptainer exec --no-mount home ${env('APPTAINER_CACHEDIR')}/gatk-4.6.2.0.sif"
}

params {
	mt {
		GRCh38 {
			chrm_name = "chrM"
		}
	}
}

process {
  withLabel: 'gatk_mutect2_mito' {
    cpus   = 4
    memory = 3.GB
    time   = 30.m
  }

  withLabel: 'gatk_filtermutect2_mito'{
    cpus = 2
    memory = 1.GB
    time = 15.m
  }

  withLabel: 'publish_mtdna_vcf' {
    cpus   = 2
    memory = { meta.project.sequencing_method == "WGS" ? 64.MB : 32.MB }
    time   = 15.m
  }

  withLabel: 'vcf_merge_mtdnasnv' {
    cpus   = 2
    memory = 64.MB
    time   = 15.m
  }
}
