includeConfig 'nxf_vcf.config'

process {
  withLabel: 'gvcf_liftover' {
    cpus   = 2
    memory = 4.GB
    time   = 15.m
  }

  withLabel: 'gvcf_merge' {
    cpus   = 4
    memory = 2.GB
    time   = 30.m
  }

  withLabel: 'gvcf_merge_publish' {
    cpus   = 2
    memory = 64.MB
    time   = 15.m
  }

  withLabel: 'gvcf_validate' {
    cpus = { meta.project.sequencing_method == "WGS" ? 3 : 2 }
    memory = 100.MB
    time   = 30.m
  }
}

params {
  gvcf {
    merge_preset="DeepVariant"
  }
}