includeConfig 'nxf.config'

env {
  CMD_ANNOTSV = "apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/annotsv-3.4.4.sif AnnotSV"
  CMD_CAPICE = "apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/capice-5.1.2.sif capice"
  CMD_GADO = "apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/gado-1.0.3_v2.sif"
  CMD_VEP = "apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/vep-111.0.sif vep"
  CMD_FILTERVEP = "apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/vep-111.0.sif filter_vep"
  CMD_STRANGER = "apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/stranger-0.9.3.sif stranger"
  CMD_VCFREPORT="apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/vcf-report-7.2.0.sif"
  CMD_VCFDECISIONTREE = "apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/vcf-decision-tree-5.1.3.sif"
  CMD_VCFINHERITANCEMATCHER = "apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/vcf-inheritance-matcher-3.3.5.sif"

  // workaround for SAMtools https://github.com/samtools/samtools/issues/1366#issuecomment-769170935
  REF_PATH = ":"
}

process {
  withLabel: 'vcf_validate' {
    memory = '100MB'
    time = '30m'
  }

  withLabel: 'vcf_split' {
    memory = '100MB'
    time = '30m'
  }

  withLabel:'vcf_annotate' {
    cpus = 4
    memory = '8GB'
    time = '4h'
  }

  withLabel:'vcf_classify|vcf_classify_samples|vcf_inheritance' {
    memory = '2GB'
  }

  withLabel: 'vcf_report' {
    memory = '6GB'
  }
}

params {
  vcf {  
    start = "" // allowed values: [normalize, annotate, classify, filter, inheritance, classify_samples, filter_samples]

    annotate {
      annotsv_cache_dir = "${VIP_DIR_DATA}/resources/annotsv/v3.4.4"
      ensembl_gene_mapping = "${VIP_DIR}/resources/biomart_ensembl_entrez_mapping.txt"

      gado_genes = "${VIP_DIR_DATA}/resources/gado/v1.0.4_HPO_v2024-08-13/genesProteinCoding.txt"
      gado_hpo = "${VIP_DIR_DATA}/resources/gado/v1.0.4_HPO_v2024-08-13/hp.obo"
      gado_predict_info = "${VIP_DIR_DATA}/resources/gado/v1.0.4_HPO_v2024-08-13/HPO_2024_08_13_prediction_info.txt.gz"
      gado_predict_matrix = "${VIP_DIR_DATA}/resources/gado/v1.0.4_HPO_v2024-08-13/HPO_2024_08_13_prediction_matrix"
      vep_buffer_size = 1000
      vep_cache_dir = "${VIP_DIR_DATA}/resources/vep/cache"
      vep_plugin_dir = "${VIP_DIR}/resources/vep/plugins"
      vep_plugin_hpo = "${VIP_DIR_DATA}/resources/hpo_20240813.tsv"
      vep_plugin_inheritance = "${VIP_DIR_DATA}/resources/inheritance_20241211.tsv"
      vep_plugin_vkgl_mode = 1
      vep_plugin_green_db_enabled = false

      GRCh38 {
        capice_model = "${VIP_DIR_DATA}/resources/GRCh38/capice_model_v5.1.2-v4.ubj"
        expansionhunter_variant_catalog = "${VIP_DIR_DATA}/resources/GRCh38/expansionhunter_variant_catalog.json"
        stranger_catalog = "${VIP_DIR_DATA}/resources/GRCh38/variant_catalog_grch38_fixed.json"
        vep_custom_phylop = "${VIP_DIR_DATA}/resources/GRCh38/hg38.phyloP100way.bw"
        vep_plugin_clinvar = "${VIP_DIR_DATA}/resources/GRCh38/clinvar_20241126-stripped.tsv.gz"
        vep_plugin_gnomad = "${VIP_DIR_DATA}/resources/GRCh38/gnomad.total.v4.1.sites.stripped.tsv.gz"
        vep_plugin_spliceai_indel = "${VIP_DIR_DATA}/resources/GRCh38/spliceai_scores.masked.indel.hg38.vcf.gz"
        vep_plugin_spliceai_snv = "${VIP_DIR_DATA}/resources/GRCh38/spliceai_scores.masked.snv.hg38.vcf.gz"
        vep_plugin_utrannotator = "${VIP_DIR_DATA}/resources/GRCh38/uORF_5UTR_PUBLIC.txt"
        vep_plugin_vkgl = "${VIP_DIR_DATA}/resources/GRCh38/vkgl_consensus_20241001.tsv"
        vep_plugin_alphscore = "${VIP_DIR_DATA}/resources/GRCh38/AlphScore_final_20230825_stripped_GRCh38.tsv.gz"
        vep_plugin_ncer = "${VIP_DIR_DATA}/resources/GRCh38/GRCh38_ncER_perc.bed.gz"
        vep_plugin_green_db = "${VIP_DIR_DATA}/resources/GRCh38/GRCh38_GREEN-DB.bed.gz"
        vep_plugin_fathmm_MKL_scores = "${VIP_DIR_DATA}/resources/GRCh38/GRCh38_FATHMM-MKL_NC.tsv.gz"
        vep_plugin_ReMM_scores = "${VIP_DIR_DATA}/resources/GRCh38/ReMM.v0.4.hg38.tsv.gz"
      }
    }

    classify {
      annotate_path = 1
			metadata = "${VIP_DIR}/resources/field_metadata.json"

      GRCh38 {
        decision_tree = "${VIP_DIR}/resources/decision_tree_GRCh38.json"
      }
    }

    classify_samples {
      annotate_path = 1
			metadata = "${VIP_DIR}/resources/field_metadata.json"

      GRCh38 {
        decision_tree = "${VIP_DIR}/resources/decision_tree_samples.json"
      }
    }

    filter {
      classes = "VUS,LP,P"
      consequences = true
    }

    filter_samples {
      classes = "U1,U2"
    }

    report {
      include_crams = true
      max_records = ""
      max_samples = ""
      template = "${VIP_DIR_DATA}/resources/vip-report-template-v7.1.1.html"
      config = "${VIP_DIR}/resources/vcf_report_config.json"
			metadata = "${VIP_DIR}/resources/field_metadata.json"

      GRCh38 {
        genes = "${VIP_DIR_DATA}/resources/GRCh38/GCF_000001405.39_GRCh38.p13_genomic_mapped.gff.gz"
      }
    }
  }
}
