includeConfig 'nxf.config'

env {
  CMD_EXPANSIONHUNTER = "apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/expansionhunter-5.0.0.sif ExpansionHunter"
  CMD_STRAGLR="apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/straglr-1.5.1.sif straglr.py"
}

params {
  str {
    expansionhunter {
      // which aligner to use. allowed values: dag-aligner,path-aligner
      aligner = "dag-aligner"

      // which analysis workflow to use: seeking or streaming
      analysis_mode = "streaming"

      // allowed values: trace, debug, info, warn, or error
      log_level = "warn"

      // how far from on/off-target regions to search for informative reads
      region_extension_length = "1000"

      GRCh38 {
        // JSON file with variants to genotype, see https://stripy.org/expansionhunter-catalog-creator
        variant_catalog = "${projectDir}/resources/GRCh38/expansionhunter_variant_catalog.json"
      }
    }
    straglr {
      min_support = 2
      min_cluster_size = 2

      GRCh38 {
        loci = "${projectDir}/resources/GRCh38/clinical_repeats.bed"
      }
    }
  }
}

process {
  withLabel: 'expansionhunter_call' {
    cpus = 4
    memory = '16GB'
    time = '5h'
  }
}
