includeConfig 'nxf.config'

env {
  CMD_MANTA="apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/manta-1.6.0.sif python2"
  CMD_CUTESV="apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/cutesv-2.0.3.sif cuteSV"
}

params {
  sv {
    manta {
      placeholder = null // placeholder for future params
    }
    cutesv {
      placeholder = null // placeholder for future params
    }
  }
}

process {
  withLabel: 'manta_call' {
    cpus = 4
    memory = '8GB'
    time = '5h'
  }
  withLabel: 'cutesv_call' {
    cpus = 4
    memory = '8GB'
    time = '5h'
  }
}
