includeConfig 'nxf.config'

env {
  CMD_DEEPVARIANT="apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/deepvariant-v1.5.0.sif /opt/deepvariant/bin/run_deepvariant"
}

params {
  deepvariant {
    illumina {
      WES {
        model_name="WES"
      }
      WGS { 
        model_name="WGS"
      }
    }
    nanopore {
      model_name="ONT_R104"
    }
    pacbio_hifi {
      model_name="PACBIO"
    }
    glnexus_preset="DeepVariant_unfiltered"
  }
}

process {
  withLabel: 'deepvariant_call' {
    cpus = 4
    memory = '8GB'
    time = '5h'
  }
}