includeConfig 'nxf.config'

env {
  CMD_DORADO = "/groups/umcg-gcc/tmp02/users/umcg-jkloosterman/dorado-0.3.4-linux-x64/bin/dorado"
  CMD_MODKIT = "/groups/umcg-gcc/tmp02/users/umcg-jkloosterman/dist/modkit"
}

process {
	withLabel: 'dorado'{
		executor = 'slurm'
		memory = '30GB'
		time = '5h'
		clusterOptions = '--gres=gpu:a40:2'
	}

	withLabel: 'sort_bam'{
		executor = 'slurm'
		memory = '10GB'
		time = '5m'
		cpus = 4
	}

	withLabel: 'modkit'{
		executor = 'slurm'
		memory = '30GB'
		time = '5m'
		cpus = 5
	}
}

params {
	pod5 = "/groups/umcg-gcc/tmp02/users/umcg-jkloosterman/ont_sample_data/small_X5_pod5"
	dorado_model = "/groups/umcg-gcc/tmp02/users/umcg-jkloosterman/dorado_models/dna_r10.4.1_e8.2_400bps_hac@v4.1.0/"
	reference_g1k_v37 = "/groups/umcg-gcc/tmp02/users/umcg-jkloosterman/ont_sample_data/human_g1k_v37.fasta"

}

