includeConfig 'nxf.config'

env {
  CMD_MOSDEPTH="apptainer exec --no-mount home ${APPTAINER_CACHEDIR}/mosdepth-0.3.13.sif mosdepth"
  CMD_SPECTRE="apptainer exec --no-mount home ${APPTAINER_CACHEDIR}/spectre-0.2.1+9058094.sif spectre"
}

params {
	mt {
		GRCh38 {
			chrm_name = "chrM"
		}
	}
}

process {
  withLabel: 'gatk_mutect2_mito' {
    cpus   = 4
    memory = 2.GB
    time   = 30.m
  }

  withLabel: 'publish_mtdna_vcf' {
    cpus   = 2
    memory = { meta.project.sequencing_method == "WGS" ? 64.MB : 32.MB }
    time   = 15.m
  }

  withLabel: 'vcf_merge_mtdnasnv' {
    cpus   = 2
    memory = 64.MB
    time   = 15.m
  }
}
