includeConfig 'nxf_cram.config'

env {
  CMD_MINIMAP2 = "apptainer exec --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/minimap2-2.24.sif minimap2"
}

process {
  withName: 'minimap2_align|minimap2_align_paired_end|minimap2_index' {
    cpus = 8
    memory = '16GB'
    time = '23h'
  }
}

params {
  GRCh37 {
    reference {
      fastaMmi = "${projectDir}/resources/GRCh37/human_g1k_v37.fasta.gz.mmi"
    }
  }

  GRCh38 {
    reference {
      fastaMmi = "${projectDir}/resources/GRCh38/GCA_000001405.15_GRCh38_no_alt_analysis_set.fna.gz.mmi"
    }
  }
}
