includeConfig 'nxf.config'

env {
  CMD_OUTRIDER="apptainer exec --no-mount home /groups/umcg-gcc/tmp02/projects/vipt/umcg-bcharbon/rna/rna_tools.sif" //FIXME: how to call outrider this cleaner
  CMD_FRASER="apptainer exec --no-mount home /groups/umcg-gcc/tmp02/projects/vipt/umcg-bcharbon/rna/rna_tools.sif" //FIXME: how to call fraser this cleaner
}

params {
  rna {
    genes_gtf="/groups/umcg-gcc/tmp02/projects/vipt/umcg-bcharbon/rna/gencode.v29.annotation.gtf.gz"
  }
}

process {
  withLabel: 'manta_joint_call' {
    cpus = 4
    memory = '8GB'
    time = '5h'
  }
  withLabel: 'cutesv_call' {
    cpus = 4
    memory = '8GB'
    time = '5h'
  }
}
