includeConfig 'nxf.config'

env {
  CMD_CLAIR3="apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/clair3-v1.0.4.sif /opt/bin/run_clair3.sh"
  CMD_DEEPVARIANT="apptainer exec --no-mount home --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/deepvariant-v1.5.0.sif /opt/deepvariant/bin/run_deepvariant"
}

params {
  snv {
    tool {
      illumina="deepvariant"
      nanopore="deepvariant"
      pacbio_hifi="deepvariant"
    }

    deepvariant {
      illumina {
        WES {
          model_name="WES"
        }
        WGS { 
          model_name="WGS"
        }
      }
      nanopore {
        model_name="ONT_R104"
      }
      pacbio_hifi {
        model_name="PACBIO"
      }
      glnexus_preset="DeepVariant_unfiltered"
    }

    clair3 {
      illumina {
        model_name="ilmn"
      }
      nanopore {
        model_name="r941_prom_sup_g5014"
      }
      pacbio_hifi {
        model_name="hifi"
      }
      glnexus_preset="gatk_unfiltered"
    }
  }
}

process {
  withLabel: 'clair3_call|clair3_joint_call' {
    cpus = 4
    memory = '8GB'
    time = '5h'
    
    //Retry once because of https://github.com/HKU-BAL/Clair3/issues/200
    errorStrategy = 'retry'
    maxRetries = 1
  }

  withLabel: 'deepvariant_call' {
    cpus = 4
    memory = '8GB'
    time = '12h'
  }
}