includeConfig 'nxf.config'

env {
  CMD_OUTRIDER="apptainer exec --no-mount home /groups/umcg-gcc/tmp02/projects/vipt/umcg-bcharbon/rna/hg19hg38.sif" //FIXME: how to call outrider this cleaner
  CMD_FRASER="apptainer exec --no-mount home /groups/umcg-gcc/tmp02/projects/vipt/umcg-bcharbon/rna/rna_tools.sif" //FIXME: how to call fraser this cleaner
}

params {
  rna {
    scripts{
      outrider{
        outrider_count = "${VIP_DIR}/resources/Rscripts/outrider/count.R"
        outrider_create_dataset = "${VIP_DIR}/resources/Rscripts/outrider/createDataSet.R"
        outrider_merge_counts = "${VIP_DIR}/resources/Rscripts/outrider/merge_counts.R"
        outrider_merge_q_files = "${VIP_DIR}/resources/Rscripts/outrider/merge_q_files.R"
        outrider_optimize = "${VIP_DIR}/resources/Rscripts/outrider/optimize.R"
        outrider = "${VIP_DIR}/resources/Rscripts/outrider/outrider.R"
      }
      fraser{
        fraser = "${VIP_DIR}/resources/Rscripts/fraser/fraser.R"
        fraser_counts = "${VIP_DIR}/resources/Rscripts/fraser/fraser_counts.R"
        fraser_merge_counts = "${VIP_DIR}/resources/Rscripts/fraser/fraser_merge_counts.R"
      }
    }
    genes_gtf="/groups/umcg-gcc/tmp02/projects/vipt/umcg-bcharbon/rna/gencode.v29.annotation.gtf.gz"
    external_counts="/groups/umcg-gcc/tmp02/users/umcg-kmaassen/tmp/20250422_sample_bart/merged_outrider_counts.txt.gz" //FIXME: should be samplesheet info
    external_counts_amount=150
  }
}

process {
  withLabel: 'fraser_counts' {
    cpus = 4
    memory = '32GB'
    time = '5h'
  }
  withLabel: 'fraser' {
    cpus = 4
    memory = '32GB'
    time = '5h'
  }
}
