includeConfig 'nxf.config'

env {
  CMD_DEEPVARIANT="apptainer exec --no-mount home ${APPTAINER_CACHEDIR}/deepvariant-1.8.0.sif /opt/deepvariant/bin/run_deepvariant"
  CMD_DEEPVARIANT_DEEPTRIO="apptainer exec --no-mount home ${APPTAINER_CACHEDIR}/deepvariant_deeptrio-1.8.0.sif /opt/deepvariant/bin/deeptrio/run_deeptrio"
}

params {
  snv {
    deeptrio {
      illumina {
        WES {
          model_name="WES"
        }
        WGS {
          model_name="WGS"
        }
      }
      nanopore {
        model_name="ONT"
      }
      pacbio_hifi {
        model_name="PACBIO"
      }
    }
    deepvariant {
      illumina {
        WES {
          model_name="WES"
        }
        WGS {
          model_name="WGS"
        }
      }
      nanopore {
        model_name="ONT_R104"
      }
      pacbio_hifi {
        model_name="PACBIO"
      }
    }
    glnexus {
      WES {
        preset="DeepVariantWES"
      }
      WGS {
        preset="DeepVariantWGS"
      }
    }
    whatshap {
      output_read_list = ""
      algorithm = "whatshap"
      internal_downsampling = 15
      mapping_quality = 20
      only_snvs = false
      ignore_read_groups = false
      error_rate = 0.15
      maximum_error_rate = 0.25
      threshold = 1000000
      negative_threshold = 1000
      distrust_genotypes = false
      include_homozygous = false
      default_gq = 30
      gl_regularizer = ""
      changed_genotype_list = ""
      recombination_list = ""
      recombrate = 1.26
      genmap = ""
      no_genetic_haplotyping = false
      use_ped_samples = false
      use_supplementary = false
      supplementary_distance = 100000
    }
  }
}

process {
  withLabel: 'deepvariant_call' {
    time = '5h'
  }
  withLabel: 'deepvariant_call_duo|deepvariant_call_trio' {
    time = '23h'
  }
  withLabel: 'deepvariant_concat_gvcf|deepvariant_concat_vcf' {
    memory = '2GB'
    time = '30m'
  }
  withLabel: 'deepvariant_joint_call' {
    memory = '2GB'
    time = '30m'
  }
  withLabel: 'whatshap' {
    memory = '16GB'
    time = '23h'
  }
}