includeConfig 'nxf.config'

env {
  CMD_MANTA="apptainer exec --no-mount home ${APPTAINER_CACHEDIR}/manta-1.6.0.sif python2"
  CMD_CUTESV="apptainer exec --no-mount home ${APPTAINER_CACHEDIR}/cutesv-2.1.1_v2.sif cuteSV"
}

params {
  sv {
    manta {
      placeholder = null // placeholder for future params
    }
    cutesv {
			batches = 10000000 // Batch of genome segmentation interval
			retain_work_dir = false // Enable to retain temporary folder and files
			write_old_sigs = false // Enable to output temporary sig files
			report_readid = false // Enable to report supporting read ids for each SV
			include_bed = "" // Only detect SVs in regions in the BED file
			ivcf = "" // Enable to perform force calling using the given vcf file
			max_split_parts = 7 // Maximum number of split segments a read may be aligned before it is ignored. All split segments are considered when using -1. (Recommand -1 when applying assembly-based alignment.)
			min_mapq = 20 // Minimum mapping quality value of alignment to be taken into account (recommend 10 for force calling)
			min_read_len = 500 // Ignores reads that only report alignments with not longer than bp
			merge_del_threshold = 0 // Maximum distance of deletion signals to be merged
			merge_ins_threshold = 100 // Maximum distance of insertion signals to be merged
			min_support = 2 // Minimum number of reads that support a SV to be reported
			min_size = 30 // Minimum size of SV to be reported
			max_size = 100000 // Maximum size of SV to be reported. All SVs are reported when using -1
			min_siglength = 10 // Minimum length of SV signal to be extracted
			gt_round = 500 // Maximum round of iteration for alignments searching if perform genotyping
			read_range = 1000 // The interval range for counting reads distribution

			// platform dependent values from https://github.com/tjiangHIT/cuteSV/tree/cuteSV-v2.1.1
			nanopore {
				max_cluster_bias_INS = 100 // Maximum distance to cluster read together for insertion
				diff_ratio_merging_INS = 0.3 // Do not merge breakpoints with basepair identity more than <value> for insertion
				max_cluster_bias_DEL = 100 // Maximum distance to cluster read together for deletion
				diff_ratio_merging_DEL = 0.3 // Do not merge breakpoints with basepair identity more than <value> for deletion
				max_cluster_bias_INV = 500 // Maximum distance to cluster read together for inversion
				max_cluster_bias_DUP = 500 // Maximum distance to cluster read together for duplication
				max_cluster_bias_TRA = 50 // Maximum distance to cluster read together for translocation
				diff_ratio_filtering_TRA = 0.6 // Filter breakpoints with basepair identity less than <value> for translocation
				remain_reads_ratio = 1.0 // The ratio of reads remained in cluster. Set lower when the alignment data have high quality but recommand over 0.5
			}

			pacbio_hifi {
				max_cluster_bias_INS = 1000 // Maximum distance to cluster read together for insertion
				diff_ratio_merging_INS = 0.9 // Do not merge breakpoints with basepair identity more than <value> for insertion
				max_cluster_bias_DEL = 1000 // Maximum distance to cluster read together for deletion
				diff_ratio_merging_DEL = 0.5 // Do not merge breakpoints with basepair identity more than <value> for deletion
				max_cluster_bias_INV = 500 // Maximum distance to cluster read together for inversion
				max_cluster_bias_DUP = 500 // Maximum distance to cluster read together for duplication
				max_cluster_bias_TRA = 50 // Maximum distance to cluster read together for translocation
				diff_ratio_filtering_TRA = 0.6 // Filter breakpoints with basepair identity less than <value> for translocation
				remain_reads_ratio = 1.0 // The ratio of reads remained in cluster. Set lower when the alignment data have high quality but recommand over 0.5
			}
    }
  }
}

process {
  withLabel: 'manta_joint_call' {
    cpus = 4
    memory = '8GB'
    time = '5h'
  }
  withLabel: 'cutesv_call' {
    cpus = 4
    memory = '8GB'
    time = '5h'
  }
}
