includeConfig 'nxf_vcf.config'

env {
  CMD_GLNEXUS="singularity exec --bind \${TMPDIR} ${SINGULARITY_CACHEDIR}/glnexus_v1.4.1.sif glnexus_cli"
}

process {
  withName: bcftools_index {
    memory = '100MB'
    time = '30m'
  }

  withName: bcftools_view_chunk {
    memory = '100MB'
    time = '30m'
  }

  withName: glnexus_merge {
    memory = '1GB'
    time = '30m'
  }
}
