includeConfig 'nxf_vcf.config'

env {
  CMD_CLAIR3="apptainer exec --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/clair3-v1.0.2.sif /opt/bin/run_clair3.sh"
  CMD_MANTA="apptainer exec --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/manta-1.6.0.sif python2"
  CMD_TABIX= "apptainer exec --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/vep-109.3.sif tabix"
  CMD_CUTESV="apptainer exec --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/cutesv-2.0.3.sif cuteSV"
  CMD_STRAGLR="apptainer exec --bind \${TMPDIR} /groups/umcg-gcc/tmp01/projects/vip/fastq/umcg-bcharbon/vip/dev_image/straglr-philres-1.3.1.sif straglr-genotype"
}

params {
  cram {
    detect_str = true

    clair3 {
      illumina {
        model_name="ilmn"
      }
      nanopore {
        model_name="r941_prom_sup_g5014"
      }
      pacbio_hifi {
        model_name="hifi"
      }
    }
    expansionhunter {
      // which aligner to use. allowed values: dag-aligner,path-aligner
      aligner = "dag-aligner"

      // which analysis workflow to use: seeking or streaming
      analysis_mode = "streaming"

      // allowed values: trace, debug, info, warn, or error
      log_level = "warn"

      // how far from on/off-target regions to search for informative reads
      region_extension_length = "1000"

      GRCh37 {
        // JSON file with variants to genotype, see https://stripy.org/expansionhunter-catalog-creator
        variant_catalog = "${projectDir}/resources/GRCh37/expansionhunter_variant_catalog.json"
      }
      GRCh38 {
        // JSON file with variants to genotype, see https://stripy.org/expansionhunter-catalog-creator
        variant_catalog = "${projectDir}/resources/GRCh38/expansionhunter_variant_catalog.json"
      }
    }
    straglr{
      minSupport = 1
      minClusterSize = 1

      GRCh37 {
        loci = "TODO" //FIXME: Liftover?
      }
      GRCh38 {
        loci = "/groups/umcg-gcc/tmp01/projects/vip/fastq/umcg-bcharbon/vip/dev_image/clinical_repeats.bed"
      }
    }
  }
}

process {
  withName: 'clair3_call' {
    cpus = 4
    memory = '8GB'
    time = '5h'
    //Retry once because of https://github.com/HKU-BAL/Clair3/issues/200
    errorStrategy = 'retry'
    maxRetries = 1
  }
  withName: 'manta_call' {
    cpus = 4
    memory = '8GB'
    time = '5h'
  }
  withName: 'cutesv_call' {
    cpus = 4
    memory = '8GB'
    time = '5h'
  }
  withName: 'expansionhunter_call' {
    cpus = 4
    memory = '16GB'
    time = '5h'
  }
}
