includeConfig 'nxf.config'

env {
  CMD_EXPANSIONHUNTER = "apptainer exec --no-mount home \${APPTAINER_CACHEDIR}/expansionhunter-5.0.0+build.3.sif ExpansionHunter"
  CMD_STRAGLR="apptainer exec --no-mount home \${APPTAINER_CACHEDIR}/straglr-1.5.6+build.1.sif straglr.py"
  CMD_STRAGLR_TSV2VCF = "apptainer exec --no-mount home \${APPTAINER_CACHEDIR}/straglr-tsv2vcf-1.2.0+build.1.sif"
}

params {
  str {
    expansionhunter {
      // which aligner to use. allowed values: dag-aligner,path-aligner
      aligner = "dag-aligner"

      // which analysis workflow to use: seeking or streaming
      analysis_mode = "streaming"

      // allowed values: trace, debug, info, warn, or error
      log_level = "warn"

      // how far from on/off-target regions to search for informative reads
      region_extension_length = "1000"

      GRCh38 {
        // JSON file with variants to genotype, based on https://stripy.org/
        variant_catalog = "${env('VIP_DIR_DATA')}/resources/GRCh38/strs_20260319.eh.json"
      }
    }
    straglr {
      min_support = 2
      min_cluster_size = 2

      GRCh38 {
        loci = "${env('VIP_DIR_DATA')}/resources/GRCh38/strs_20260319.tsv"
      }

      tsv2vcf {
        haploid_contigs_male = "chrX,chrY,chrY_KI270740v1_random"
      }
    }
  }
}

process {
  withLabel: 'expansionhunter_call' {
    cpus   = 4
    memory = 16.GB
    time   = 5.h
  }

  withLabel: 'straglr_call' {
    cpus   = 1
    memory = 1.GB
    time   = 15.m
  }

  withLabel: 'vcf_merge_str' {
    cpus   = 2
    memory = 64.MB
    time   = 15.m
  }
}
