includeConfig 'nxf_vcf.config'

env {
  CMD_CLAIR3="apptainer exec --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/clair3-v0.1-r12.sif /opt/bin/run_clair3.sh"
  CMD_MANTA="apptainer exec --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/manta-1.6.0.sif python2"
  CMD_TABIX= "apptainer exec --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/vep-107.0.sif tabix"
  CMD_SNIFFLES2="apptainer exec --bind \${TMPDIR} ${APPTAINER_CACHEDIR}/sniffles2-2.0.7.sif sniffles"
}

params {
  cram {
    clair3 {
      illumina {
        model_name="ilmn"
      }
      nanopore {
        model_name="r941_prom_sup_g5014"
      }
    }
    sniffles2{
      GRCh37 {
        tandem_repeat_annotations="${projectDir}/resources/GRCh37/human_hs37d5.trf.bed"
      }
      GRCh38 {
        tandem_repeat_annotations="${projectDir}/resources/GRCh38/human_GRCh38_no_alt_analysis_set.trf.bed"
      }
    }
  }
}

process {
  withName: 'clair3_call' {
    cpus = 4
    memory = '8GB'
    time = '5h'
  }
  withName: 'manta_call' {
    cpus = 4
    memory = '8GB'
    time = '5h'
  }
  withName: 'sniffles2_call' {
    cpus = 4
    memory = '8GB'
    time = '5h'
  }
  withName: 'sniffles2_combined_call' {
    cpus = 4
    memory = '8GB'
    time = '5h'
  }
}
